body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  --color-a: #fff;
  --color-b: #000;
  background-color: var(--color-a);
  color: var(--color-b);
}
/*temas*/
.dark {
  --color-a: #000;
  --color-b: #fff;
}

#toggle {
  margin-bottom: 40px;
  border-radius: 60%;
}

h1 {
  font-size: 42px;
}
h2 {
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 35px;
}

/* botoes */
#buttons-container button {
  border: none;
  padding: 10px 15px;
  margin: 10px 10px;
  border-radius: 7px;
}
#buttons-container button:hover {
  scale: 1.2;
  transition: 300ms;
  cursor: pointer;
}

/* jogo */

#container {
  display: flex;
  flex-flow: row wrap;
  width: 360px;
  margin: 0;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.box {
  height: 120px;
  border: 5px solid var(--color-b);
  box-sizing: border-box;
  flex: 1 1 33%;
}

#block-1,
#block-2,
#block-3 {
  border-top: none;
}

#block-1,
#block-4,
#block-7 {
  border-left: none;
}

#block-3,
#block-6,
#block-9 {
  border-right: none;
}

#block-7,
#block-8,
#block-9 {
  border-bottom: none;
}

/* simbolos */

.x {
  font-size: 65px;
  color: red;
  display: inline-block;
  line-height: 100px;
}

.o {
  width: 50px;
  height: 50px;
  border: 5px solid green;
  border-radius: 50%;
  display: inline-block;
  margin-top: 17px;
}

/*classe esconder*/

.hide {
  display: none !important;
}

/*placar*/
#scoreboard-container {
  font-weight: bold;
  margin-top: 30px;
  font-size: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.score-box {
  margin: 0 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.score-box p {
  margin: 0 10px;
  font-size: 30px;
}

#x-scoreboard {
  color: red;
  margin-right: 3px;
}

#o-scoreboard {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid green;
  border-radius: 50%;
  margin-right: 3px;
}

/*msg vitoria*/
#message p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 150px;
  width: 500px;
  font-size: 50px;
  background-color: var(--color-b);
  color: var(--color-a);
  padding: 20px;
  border-radius: 10px;
}

/*inputs*/
.inputNomes {
  padding: 10px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 15px;
}

/*mobile*/
@media screen and (max-width: 800px) {
  #message p {
    max-width: 80vw;
  }
  #container {
    max-width: 95vw;
  }
}

@media screen and (max-height: 769px) {
  body {
    margin: 0;
    padding: 0;
  }
  .box {
    height: 15vh;
  }
  h1 {
    margin-top: 4px;
    margin-bottom: 7px;
  }
}
